@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

.title {
  display: none;
}
@media screen and (min-width: 900px) {
  .title {
    display: flex;
    text-align: center;
    justify-content: end;
    color: white;
    font-size: 1rem;
    font-family: "Cormorant Garamond", serif;
    margin-right: 0.2rem;
  }
  .link_btn {
    margin-top: 3rem;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 5px;
    transition: 1s;
    font-size: 1.5rem;
    margin-right: 0.2rem;
  }
  .link_btn:hover {
    color: black;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    transition: 1s;
    box-shadow: 0.5px 0.5px 8px rgb(5, 181, 240);
  }
}
@media screen and (min-width: 360px) {
}
