@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

body,
html {
  padding: 0;
  margin: 0;
}
.title {
  bottom: 0;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  color: white;
  font-size: 1rem;
  gap: 0px;
  font-family: "Cormorant Garamond", serif;
  margin-bottom: 1rem;
  width: 100%;
}
.link_btn {
  margin: auto;
  background-color: rgba(0, 0, 0, 0.39);
  text-decoration: none;
  color: white;
  padding: 1.1rem 0.9rem 1.1rem 0.9rem;
  border-radius: 5px;
  transition: 1s;
  font-size: 0.9rem;
  font-weight: bold;
  width: 4rem;
  box-shadow: 0.5px 0.5px 2px;
}
.link_btn:hover {
  color: black;
  font-weight: bold;
  background-color: rgb(255, 255, 255);
  transition: 1s;
  box-shadow: 0.3px 0.3px 5px rgb(5, 181, 240);
}

@media screen and (min-width: 900px) {
  .title {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  .title {
    gap: 0px;
  }
  .link_btn {
    padding: 1rem 0.8rem;
  }
}
